/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* **common** */
/* disposizone degli lementi in mmomdo affiiancato */
.row {
  display: flex;
}

/* dimensione di default del contenitore grande */
.container-big {
  margin: 0 auto;
  width: 65%;
}

/* caratteristiche di default dei bottoni */
.button-default {
  border: none;
  background-color: #0061ff;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
}
/* **common** */

/* ********* header ******** */

/* background del jumbo tron */
.background-cont-big {
  background-color: #b4d0e7;
  margin-bottom: 50px;
}

/* **navbar** */

/* separiamo con uno spazio centrale le due nav bar  */
.disp-nav-bar {
  justify-content: space-between;
}
/* /separiamo con uno spazio centrale le due nav bar  */

/* distanziamo gli elmenti della lista l'uno dall'altro */
.car-lista li {
  margin: 30px 18px;
}
/* /distanziamo gli elmenti della lista l'uno dall'altro */

/* leviammo i puntini da vicino la lista */
.car-lista {
  list-style-type: none;
  align-items: center;
}
/* /leviammo i puntini da vicino la lista */

/* caratteristiche dei link nelle liste della nav bar */
.car-lista li a {
  text-decoration: none;
  color: #3f3f3f;
}
/* /caratteristiche dei link nelle liste della nav bar */

/* riposizonamento del bottone in base agli altri link */
.car-lista button {
  margin-left: -18px;
}

/* **navbar** */

/* **jumbotron** */
/* *debug* */
/* colore background jumbotron */
.debug .container-big {
  background-color: red;
}

/* colore colonna piccola */
.debug .col-small {
  background-color: blue;
}

/* colore colonna grande */
.debug .col-big {
  background-color: green;
}
/* *debug* */

/* caratteristiche h1 nel jumbotron  */
.container-big h1 {
  font-size: 80px;
  font-weight: bolder;
  padding: 55px 0;
}

/* *col-small* */

/* grandezza colonna piccola */
.col-small {
  width: 30%;
}

/* distanziamento del conenuto del contenuto della colonna piccola rispetto al bottone */
.col-small button {
  margin: 40px 0;
  padding: 12px 18px;
}

/* dimensioni e distanza dal resto del contenitore icona con la freccia un giu */
.col-small i {
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 20px;
}
/* *col-small* */

/* *col-big* */
/* grandezza colonna grande */
.col-big {
  width: 70%;
  position: relative;
  top: 0;
  left: 0;
}

/* grandezza dell'immagine e posizionamento*/
.col-big img {
  width: 100%;
  display: block;
  position: absolute;
}

/* *col-big* */

/* **jumbotron** */

/* ********* /header ******** */
